@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;}

body {
  position: relative;
  margin: 0 15px;
  background-image: url('./assets/night.png');
  backgroud-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  color: rgb(209, 202, 202);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#root {
  height: 100%;
  position: relative;
}



